@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
li {
  list-style-type: none;
}
.navbarrr {
  display: flex;
  background-image: linear-gradient(to right,#5850ecda,#e74694);
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  padding-left: 6rem;
  z-index: 9999;
}

.logooo {
  font-size: 24px;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  justify-content: flex-start;
  align-items: center;
}
.nav-links {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  justify-content: flex-end;
  width: 75%;
}
.container {

    
    max-width: 90%;
    margin: -24px;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;

}
.nav-links li {
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  margin: 0 10px;
  position: inherit;
  cursor: pointer;
  white-space: nowrap;
  text-transform: capitalize;
}
.hero {
  text-align: center;
  margin-top: 15%;
}
.hero h1 {
  text-align: center;
  font-size: 80px;
}
.mobile-menu-icon {
  display: none;
}
button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}
@media (max-width: 768px) {
  .logooo {
    display: flex;
    top: 15px;
    left: 35px;
  }

  .nav-links {
    display: none;
    text-decoration: none;
  }
  .nav-links-mobile {
    position: absolute;
    text-decoration: none;
    display: block;
    z-index: 9999;
    list-style: none;
    white-space: nowrap;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: white;
  }
  ul li {
    z-index: 99999;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: black;
  }
  .mobile-menu-icon {
    position: absolute;
    cursor: pointer;
    display: block;
    right: 20px;
  }
  .hero h1 {
    font-size: 50px;
  }
}